* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
  font-size: 1em;
}

strong {
  font-weight: 900;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
a {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
