@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("reset.css");
@import url("variables.css");

body {
  color: var(--text-color-dark);
  min-height: 100vh;
  display: grid;
  flex-direction: column;
}

/** 
 first screen/header
*/
#fullscreen-header {
    min-height: 100vh;
    background-image: var(--bg-gradient);
    color: var(--text-color-light);
    padding-top: 1em;
}

#fullscreen-header header {
    margin-bottom: 100px;
}

#fullscreen-header header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#fullscreen-header header .hamburguer {
    margin-top: -20px;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 22px;
}

#fullscreen-header header .hamburguer span,
#fullscreen-header header .hamburguer span:before, 
#fullscreen-header header .hamburguer span:after {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 0;
}



#fullscreen-header header .hamburguer span:before, 
#fullscreen-header header .hamburguer span:after {
    content: "";
    top: 7px;
}

#fullscreen-header header .hamburguer span:after {
    top: 14px;
}

/* mark image replacement */
#fullscreen-header h1 {
    width: 90px;
    text-indent: -999px;
    background: url(../imgs/marca.svg) no-repeat
}

#fullscreen-header h2 {
    font-size: 5em;
    line-height: 1;
}

#fullscreen-header p {
    margin: 0;
}

#header-navigation {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-width: 450px;
    background: var(--bg-white);
    padding: 40px;
    color: var(--text-color-dark);
    display: grid;
}

/* Navigation */
#header-navigation.hide {
    display: none;
}

#header-navigation-main {
    min-height: calc(100vh - 200px);
    display: flex;
}

#header-navigation strong:hover, #header-navigation a:hover{
    color: var(--text-color-hover)
}

#header-navigation-socialNetwork {
    display: flex;
}

/* TRAINING PROGRAMS */
#trainingPrograms h3 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

#trainingPrograms-componentlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0;
    font-weight: 100;
}

#Callout-01 {
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-lightgrey);
}
    #Callout-01 .center {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #Callout-01 h3 {
        font-weight: 200;
        font-size: 2em;    
    }

#Callout-02 {
   padding: 4em 0;
}
    #Callout-02 .center {
        display: flex;
    }
    #Callout-02 img {
        max-width: 300px;
        margin-right: 1.5em;
    }

    #Callout-02 h3 {
        font-weight: 200;
        font-size: 1.5em;
        margin: .3em 0;
        line-height: 1.3;
    }
    #Callout-02 ul {
        list-style: inside;
    }

/**
    Components
**/
.center {
    max-width: 80vw;
    margin: 0 auto;    
}

.button-orange-big, .button-orange-small {
    display: inline-block;
    padding: 1em 1.5em;
    background-color: var(--bg-orange);
    color: var(--text-color-light);
    border-radius: 25px;
    text-align: center;
    font-weight: 100;
    box-shadow: 0 0 0 transparent;
    transition: all .6s ease;
}
.button-orange-small {
    padding: .2em 1em
}
.button-orange-big:hover, .button-orange-small:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    color: var(--text-color-dark)
}


.trainingPrograms-component-card {
    border: 1px solid var(--bg-lightgrey);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    max-width: 400px;
}

.trainingPrograms-component-card h4 {
    margin-bottom: 15px;
    font-size: 2em;
}

.trainingPrograms-component-card .button-orange-big {
    margin-top: 20px;
}